HELP.md
.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store

### .properties ###
src/main/resources/application.properties

### Environment Variables ###
.env

### 정적 리소스(이미지) 업로드 제외 설정 ###
# images 폴더 안의 모든 것을 무시
src/main/resources/static/images/*
# 하지만, default.svg 파일만은 무시하지 않음(깃허브 push, pull에 포함)
!src/main/resources/static/images/default.svg